.container{
    width: 1460px;
    max-width: 90%;
    margin: 0 auto;
}
.btn{
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all ease-in-out .3s;
}
.btn-primary{
    color: var(--dark);
    background: var(--pure);
    transition: all ease-in-out .3s;
}

.btn-primary:hover{
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
}
.btn-secondary{
    margin-top: 20px;
    background: transparent;
    color: var(--pure);
    border-color: var(--pure);
    transition: all ease-in-out .3s;
}
.btn-secondary:hover{
    background: var(--pure);
    color: var(--dark);
}